<div class="container" style="margin: 35px 35px 35px 35px;">
    <div class="container" style="margin: 35px 35px 35px 35px;">
        <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
            <h2 style="font-weight: bold; text-align: center;"> Student Registration</h2>
            <hr>
            
            <div class="row">
                <div class="col-2">
                    <div style="margin-top: 10px;">
                        First Name *
                    </div>
                </div>
                <div class="col-10">
                    <div class="mb-3">
                        <input  type="text" 
                            class="form-control" 
                            minlength="2"
                            [(ngModel)]="student.firstName" 
                            #firstName="ngModel"
                            name="FirstName"
                            placeholder="First Name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <div style="margin-top: 10px;">
                        Last Name *
                    </div>
                </div>
                <div class="col-10">
                    <div class="mb-3">
                        <input  type="text" 
                                class="form-control" 
                                minlength="2"
                                name="LastName" 
                                #lastName="ngModel"
                                [(ngModel)]="student.lastName"
                                placeholder="Last Name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <div style="margin-top: 10px;">
                        Contact Person *
                    </div>
                </div>
                <div class="col-10">
                    <div class="mb-3">
                        <input  type="text" 
                                class="form-control" 
                                name="ContactPerson"
                                #contactPerson="ngModel" 
                                minlength="2"
                                [(ngModel)]="student.contactPerson"
                                placeholder="Contact Person">
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-2">
                    <div style="margin-top: 10px;">
                        Contact Number *
                    </div>
                </div>
                <div class="col-10">
                    <div class="mb-3">
                        <input  type="text" 
                                minlength="9"
                                maxlength="13"
                                class="form-control" 
                                name="ContactNumber" 
                                #contactNumber="ngModel"
                                [(ngModel)]="student.contactNumber"
                                placeholder="Contact Number">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <div style="margin-top: 10px;">
                        Email *
                    </div>
                </div>
                <div class="col-10">
                    <div class="mb-3">
                        <input  type="text"
                                email="true"
                                class="form-control" 
                                name="Email" 
                                #email="ngModel"
                                [(ngModel)]="student.email" 
                                placeholder="Email">
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-2">
                    <div style="margin-top: 10px;">
                        Date of Birth *
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
                            <input type="text"
                                class="form-control"
                                #dp="bsDatepicker"
                                bsDatepicker
                                [(bsValue)]="bsValue">
                        </div>
                        <div class="col-xs-12 col-12 col-md-3 form-group mb-3">
                            <button class="btn btn-success" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen" type="button">Date Picker</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <div style="margin-top: 10px;">
                        Class Room *
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <mat-form-field appearance="fill">
                            <mat-label>Select Class Room</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let room of classRoom" [value]="room.classRoomId" (onSelectionChange)="setClassRoomID(room.classRoomId)">
                                    {{room.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        
            <div class="text-center" style="margin: 25px 25px 25px 25px;">
                <button class="btn btn-success me2" type="Submit" style="margin-right: 10px;"> Register Student </button>
                <button class="btn btn-secondary" routerLink="/" style="margin-left: 10px;"> Cancel </button>
            </div>
            
            <p style="color: red;">{{message}}</p>
            <div></div>
        </form>
    </div>
</div>
