<div class="container" style="margin: 35px 35px 35px 35px;">
    <div class="container" style="margin: 35px 35px 35px 35px;">
        <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
            <h2 style="font-weight: bold; text-align: center;"> Subject Registration</h2>
            <hr>
            
            <div class="row">
                <div class="col-2">
                    <div style="margin-top: 10px;">
                        Subject Name 
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <input  type="text" 
                            class="form-control" 
                            minlength="2"
                            [(ngModel)]="subject.name"
                            #firstName="ngModel"
                            name="FirstName"
                            placeholder="Subjct Name">
                    </div>
                </div>
            </div>
        
            <div class="text-center" style="margin: 25px 25px 25px 25px;">
                <button class="btn btn-success me2" type="Submit" style="margin-right: 10px;"> Register Subject </button>
                <button class="btn btn-secondary" routerLink="/" style="margin-left: 10px;"> Cancel </button>
            </div>
            
            <p style="color: red;">{{message}}</p>
            <p></p>
            <div></div>
        </form>
    </div>
</div>
